@model Prueba_System_Water_C.Models.Tbl_Configuraciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Configuraciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cuota_Fija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuota_Fija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Metro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Metro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Metro2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Metro2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_Metro3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Metro3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Configuracion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
