@model Prueba_System_Water_C.Models.Tbl_Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Clientes.Nombre_Completo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Clientes.Nombre_Completo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Rol.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Rol.Rol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Usuarios }) |
    @Html.ActionLink("Back to List", "Index")
</p>
